// Define variables that needs to be used across the application */

// ********************************
// ************ Colours ***********
// ********************************

// Base Colors
$color-white: #fff;
$color-black: #121212;
$color-yellow: #fbde00;
$color-blue: #00adef;
$color-pink: #eb0088;
$color-yellow-2: #fff001;
$color-dark-blue: #57565f;
$color-red: #ed1b23;
$color-green: #01a453;
$color-dark-blue-2: #2d2d2d;

// Opacities
$modal-opacity: 0.5;
