.header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #434343;
    margin-bottom: 15px;

    .header-timing,
    .header-movie {
        padding: 15px 10px;
        font-size: 1rem;
        color: #fff;
        &:hover,
        &:focus {
            text-decoration: none;
        }
        &.active {
            border-bottom: 2px solid #b70a0a;
        }

        .title {
            font-size: 1rem;
            padding-left: 10px;
        }
    }
}
